<p>Name:
  <%= @animal.name %>
</p>
 <p>Owner:
  <%= @owner.name %>
</p>
<p>Admission Date:
  <%= @animal.admission_date %>
</p>
<p>Animal Type:
  <%= @animal.animal_type %>
</p>
<hr/>
<form method="POST" action="/animals/<%= @animal.id %>">
  <label for="name">Name:</label>
  <input type="text" name="name" value="<%= @animal.name %>" />
  <label for="name">Owner:</label>
  <input type="text" name="name" value="<%= @animal.name %>" />
  <p>Available for Adoption:</p>
  <input type="radio" name="adoptable" value="<%= @animal.adoptable %>" />
  <label for="adoptable">Yes</label>
  <input type="radio" name="adoptable" value="<%= @animal.adoptable %>" />
  <label for="adoptable">No</label>
  <p><input type="submit"></p>
</form>
