<form method="POST" action="/animals/<%= @animal.id %>">
  <p><label for="name">Name:</label>
  <input type="text" name="name" value="<%= @animal.name %>" /></p>
  <p><label for="admission_date">Admission Date:</label>
  <input type="date" name="admission_date" value="<%= @animal.admission_date %>" /><p>
  <p><label for="animal_type">Animal Type</label>
  <input type="text" name="animal_type" value="<%= @animal.animal_type %>" /><p>
  <p><label for="owner">Owner</label>
    <select name="owner.id" id="" value="<%= @name %>">
    <option value="@owner.name">Zsolt</option>
    <option value="@owner.name">Alex</option>
    <option value="@owner.name">John</option>
  </select>
  <p><label for="adoptable">Ready for Adoption?</label>
    <select name="adoptable" value="<%= @animal.adoptable %>" /><p>
      <option>Yes</option>
      <option>No</option>
    </select>
  <p><label for="adoption_status">Adoption Status:</label>
  <select name="adoption_status" value="<%= @animal.adoption_status %>" /><p>
    <option>Adoptable</option>
    <option>Unadoptable</option>
  </select>
  <p><label for="image">Image
    <select name="image">
      <option value="/img/budgie.jpg">/img/budgie.jpg</option>
      <option value="/img/budgie2.jpg">/img/budgie2.jpg</option>
      <option value="/img/cat.jpg">/img/cat.jpg</option>
      <option value="/img/chico.png">/img/chico.png</option>
      <option value="/img/guinea.jpeg">/img/guinea.jpeg</option>
      <option value="/img/python.jpg">/img/python.jpg</option>
      <option value="/img/rabbit.jpg">/img/rabbit.jpg</option>
    </select></p>
  <p><input type="submit" value="Submit"></p>
</form>
