<h2>Current Pets</h2>
<p class="new-pet-title"><a href="#"></a>Add new pet</p>
<div class="pets-container">



    <% @animals.each do |animal| %>
    <div class="pet">

    <hr/>
      <p><span class="fancy-text"><%= animal.name %></span></p>
      <p>Admission Date: <%= animal.admission_date %></p>
      <p>Owner:
        <% if animal.owner.length != 0 %>
          <% animal.owner.each do |owner| %>
          <%= owner.name %>
        <% end %>
        <% else %>
          Not adopted
        <% end %>
      </p>
      <p>Available for adoption? <%= animal.adoptable %></p>



      <img class="animal-images" src="<%= animal.image %>">
      <a href="/animals/<%= animal.id %>">More/Edit</a>
      <p></p>
    <% end %>
    </div>
</div>
