<h2>Create new pet record</h2>

<form method="POST" action="/animals">
  <p><span class="bold-text"><label for="name">Name:</label>
  <input type="text" name="name" value="<%= @animal.name %>" /></p>
  <p><span class="bold-text"><label for="admission_date">Admission Date:</label>
  <input type="date" name="admission_date" value="<%= @animal.admission_date %>" /></span><p>
  <p><span class="bold-text"><label for="animal_type">Animal Type</label>
  <input type="text" name="animal_type" value="<%= @animal.animal_type %>" /></span><p>

  <p><span class="bold-text"><label for="adoptable">Adoptable?:</label>
    <select name="adoptable" value="<%= @animal.adoptable %>" /></span><p>
      <option>Yes</option>
      <option>No</option>
    </select>
  <p><span class="bold-text"><label for="adoption_status">Adoption Status:</label>
  <select name="adoption_status" value="<%= @animal.adoption_status %>" /></span><p>
    <option>Adoptable</option>
    <option>Unadoptable</option>
  </select>
    <p><input type="submit" value="Submit"></p>
</form>
