
<p>Name: <%= @animal.name %></p>
<p>Admission Date: <%= @animal.admission_date %></p>
<p>Animal Type: <%= @animal.animal_type %></p>

<a href="/animals/<%= @animal.id %>/edit">Edit</a>
<form action="/animals/<%= @animal.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
