<p><span class="bold-text">Name: </span><%= @animal.name %></p>
<p><span class="bold-text">Admission Date: </span><%= @animal.admission_date %></p>
<p><span class="bold-text">Animal Type: </span><%= @animal.animal_type %></p>
<p><span class="bold-text">Adoptable? </span><%= @animal.adoptable %></p>
<p><span class="bold-text">Adoption Status: </span><%= @animal.adoption_status %></p>

<a href="/animals/<%= @animal.id %>/edit">Edit</a>
